
@using System.ComponentModel
@using Microsoft.AspNetCore.Mvc.ViewComponents
@using System.Threading.Tasks

<!DOCTYPE html>
<html lang="en">
	 @await Html.PartialAsync("/Views/Shared/head.cshtml")
<body id="body">
    <header class="container-fluid">
			 @await Html.PartialAsync("/Views/Shared/header.cshtml")
    </header>

    <section class="page-content container-fluid">            
            @RenderBody()
    </section>     
    
    <footer class="container  page-footer">
            @await Html.PartialAsync("/Views/Shared/footer.cshtml")
    </footer>
</body>
</html>








 