
@using System.ComponentModel
@using Microsoft.AspNetCore.Mvc.ViewComponents
@using System.Threading.Tasks
 
<!DOCTYPE html>
<html lang="en">
	 @await Html.PartialAsync("/Views/Shared/head.cshtml")

<body id="body">

    <header class="container">
			 @await Html.PartialAsync("/Views/Shared/top-nav.cshtml")
    </header>

    <section class="container">
        <div class="row">
				
            <div class="col-md-3">
                @await Html.PartialAsync("/Views/Shared/nav-left.cshtml")
            </div>
				
            <div class="col-md-9 content body-content">
            
            @RenderBody()
            
            </div>		
     
				
        </div>
    </section>
            <br>
        <footer class="container">
              @await Html.PartialAsync("/Views/Shared/footer.cshtml")
        </footer>
</body>
</html>








 