<div class="container" style="background-color:#f6f8fa;">
  <div class="row">

    <div class="col-md-3">
      <ul>

        <li><a href="/home/about/">About</a></li>
   <li><p class="rss-subscribe"> <a href="/home/feed.xml">RSS</a></p></li>
      </ul>
    </div>
    <div cclass="col-md-3">
      <ul>

        <li><a href="/home/contact/">Contact</a></li>

      </ul>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div>
    <div  class="col-md-6">
      <a href="#">Terms and Conditions</a>
      <a href="#">Privacy</a>
      <a href="#">Security</a>
    </div>
    <div  class="col-md-6">
      <p class="muted pull-right">© 2017 Tar Solution</p>
    </div>
  </div>
</div>

