	<div class="row">
		<div class="col">
			<p class="text-align-center page-footer-text">
				© 2018&nbsp;&nbsp;|&nbsp;&nbsp;Privacy&nbsp;&&nbsp;Cookie&nbsp;Policy&nbsp;&nbsp;|&nbsp;&nbsp;Site&nbsp;Terms&nbsp;of&nbsp;Use&nbsp;and&nbsp;Forum&nbsp;Guidelines<br/>
Developed&nbsp;And&nbsp;Designed&nbsp;by&nbsp;<a href="http://www.tarsolution.com" target="_blank">Tar&nbsp;Solution</a>&nbsp;&nbsp;|&nbsp;&nbsp;Get&nbsp;the&nbsp;World's&nbsp;Best&nbsp;Flash&nbsp;Drive<br/>
Donate&nbsp;with&nbsp;<a href="#">PayPal</a>&nbsp;Bitcoin:&nbsp;<a href="#">1Hh8DMwA4yEU6dtwPtSjcp3dAB2EftUf8g</a>,&nbsp;Litecoin:&nbsp;<a href="#">LNLQktCfSEevRR8M4GTFMqPQa5f7tNcfSU</a>,
Dogecoin:&nbsp;<a href="#">DCpH3rKDd5ZTYVadEqYDEioVJjkebWqGvs</a>,&nbsp;Ether:&nbsp;<a href="#">0xE478Bc356DdBD7FA0e5773ea0F480e8407f1EAcb</a>
			</p>
		</div>
	</div>