<div class="row page-header">
  <div class="col-auto">
  <svg height="40" width="130" class="logo" viewBox="0 0 130 40">
  <text x="0" y="30">
    <tspan x="0" y="30" class="first">Non</tspan>
    <tspan x="55" y="30" class="second">SETUP</tspan>
    </text>
  </svg>
  </div>
  <div class="col text-center">
    <div class="searchbox">
      <input type="text" placeholder="Application Name"/>
      <button class="oi oi-magnifying-glass">
      <span class="oi" data-glyph="magnifying-glass"></span>
      </button>
    </div>
  </div>
</div>