<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="Copyright 2017, Tar Solution">
    <meta name="rating" content="General">
    <meta name="publisher" content="Tar Solution">
    <meta name="revisit-after" content="1 Days">
    <meta name="distribution" content="global">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https:/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha256-m/h/cUDAhf6/iBRixTbuc8+Rg2cIETQtPcH9D3p2Kg0=" crossorigin="anonymous" />
   	<link rel="stylesheet" type="text/css" href="/assets/style/icons/css/open-iconic.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/style/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha256-DiWJXXyq81WlPRnDfGmgYZj2aOVCKyEdJ1l+2TmDuAs=" crossorigin="anonymous"></script>
    <meta name="description" content="Free NonSetup (Portable) Application Download">
	<meta name="keywords" content="NonSetup, Portable, Download,">
	<meta name="author" content="tarsolution.com">	 
	<title>Free NonSetup (Portable) Application Download</title>
</head>