@{
     ViewData["Title"] = "Downloading ...";
}
 
<div class="container">
<div class="row">
    <div class="col-sm-12 text-align-center">
        <h3 class="download-information">Your download will begin in a moment. If it doesn't, <a href="/download-detail">restart the download</a></h3>
        <div class="loader">
        <div class="loader-shadow"></div>
        <div class="loader-box"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="advertisement">
            <iframe width="854" height="480" src="https://www.youtube.com/embed/yKpafdIcPbY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
