@{
ViewData["Title"] = "Home Page";
}

<div class="container">
<div class="row">
    <div class="col">
        <table class="category">
            <thead>
                <tr>
                <th>Development</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Ruby</a></td></tr>
                <tr><td><a href="#">Eclipse</a></td></tr>
                <tr><td><a href="#">Visual Code</a></td></tr>
                <tr><td><a href="#">Phython</a></td></tr>
                <tr><td><a href="#">JDK</a></td></tr>
                <tr><td><a href="#">Dev C++</a></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>
            <tfoot>
        </table>
    </div>
    <div class="col">
        <table class="category">
            <thead>
            <tr>
                <th>Security</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Microsoft Defenders</a></td></tr>
                <tr><td><a href="#">Kaspersky Security Tool</a></td></tr>
                <tr><td><a href="#">Norton Security Tool</a></td></tr>
                <tr><td><a href="#">App Scanner</a></td></tr>
                <tr><td><a href="#">Comodo Security Tool</a></td></tr>
                <tr><td><a href="#">Adwords Cleaner</a></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>
            <tfoot>
        </table>
    </div>
    <div class="col">
        <table class="category">
            <thead>
            <tr>
                <th>Zip Tools</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Winzip</a></td></tr>
                <tr><td><a href="#">Winrar</a></td></tr>
                <tr><td><a href="#">7Zip</a></td></tr>
                <tr><td><a href="#">Gzip</a></td></tr>
                <tr><td><a href="#">Tar</a></td></tr>
                <tr><td></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>
            <tfoot>
        </table>
    </div>
    <div class="col">
        <table class="category">
            <thead>
            <tr>
                <th>Office</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Open Office</a></td></tr>
                <tr><td><a href="#">Libre Office</a></td></tr>
                <tr><td><a href="#">Microsoft Office Reader</a></td></tr>
                <tr><td><a href="#">Pdf Reader</a></td></tr>
                <tr><td><a href="#">Acrobat Reader</a></td></tr>
                <tr><td></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>
            <tfoot>
        </table>
    </div>
    <div class="col">
        <table class="category">
            <thead>
                <tr>
                <th>Games</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Chees</a></td></tr>
                <tr><td><a href="#">Rally</a></td></tr>
                <tr><td><a href="#">PointBall</a></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>
            <tfoot>
        </table>
    </div>
    <div class="col">
        <table class="category">
            <thead>
            <tr>
                <th>Text Tool</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Notepad++</a></td></tr>
                <tr><td><a href="#">Keep Note</a></td></tr>
                <tr><td><a href="#">Vim</a></td></tr>
                <tr><td><a href="#">Nano Text</a></td></tr>
                <tr><td><a href="#">Quick Note</a></td></tr>
                <tr><td></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>		
            </tfoot>
        </table>
    </div>
    <div class="col">
        <table class="category">
            <thead>
                <tr>
                <th>Development</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Ruby</a></td></tr>
                <tr><td><a href="#">Eclipse</a></td></tr>
                <tr><td><a href="#">Visual Code</a></td></tr>
                <tr><td><a href="#">Phython</a></td></tr>
                <tr><td><a href="#">JDK</a></td></tr>
                <tr><td><a href="#">Dev C++</a></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>
            <tfoot>
        </table>
    </div>
    <div class="col">
        <table class="category">
            <thead>
            <tr>
                <th>Security</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Microsoft Defenders</a></td></tr>
                <tr><td><a href="#">Kaspersky Security Tool</a></td></tr>
                <tr><td><a href="#">Norton Security Tool</a></td></tr>
                <tr><td><a href="#">App Scanner</a></td></tr>
                <tr><td><a href="#">Comodo Security Tool</a></td></tr>
                <tr><td><a href="#">Adwords Cleaner</a></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>
            <tfoot>
        </table>
    </div>
    <div class="col">
        <table class="category">
            <thead>
            <tr>
                <th>Zip Tools</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Winzip</a></td></tr>
                <tr><td><a href="#">Winrar</a></td></tr>
                <tr><td><a href="#">7Zip</a></td></tr>
                <tr><td><a href="#">Gzip</a></td></tr>
                <tr><td><a href="#">Tar</a></td></tr>
                <tr><td></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>
            <tfoot>
        </table>
    </div>
    <div class="col">
        <table class="category">
            <thead>
            <tr>
                <th>Office</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Open Office</a></td></tr>
                <tr><td><a href="#">Libre Office</a></td></tr>
                <tr><td><a href="#">Microsoft Office Reader</a></td></tr>
                <tr><td><a href="#">Pdf Reader</a></td></tr>
                <tr><td><a href="#">Acrobat Reader</a></td></tr>
                <tr><td></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>
            <tfoot>
        </table>
    </div>
    <div class="col">
        <table class="category">
            <thead>
                <tr>
                <th>Games</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Chees</a></td></tr>
                <tr><td><a href="#">Rally</a></td></tr>
                <tr><td><a href="#">PointBall</a></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>
            <tfoot>
        </table>
    </div>
    <div class="col">
        <table class="category">
            <thead>
            <tr>
                <th>Text Tool</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="#">Notepad++</a></td></tr>
                <tr><td><a href="#">Keep Note</a></td></tr>
                <tr><td><a href="#">Vim</a></td></tr>
                <tr><td><a href="#">Nano Text</a></td></tr>
                <tr><td><a href="#">Quick Note</a></td></tr>
                <tr><td></td></tr>
            </tbody>
            <tfoot>
                <tr><th><a href="#">All</a></th></tr>		
            </tfoot>
        </table>
    </div>
</div>
</div>
