@{
ViewData["Title"] = "Nonsetup Downloads";
}

<div class="container">
<div class="row">
	<div class="col">
		<table class="category">
			<thead>
				<tr>
				<th>Development</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Ruby</a></td></tr>
				<tr><td><a href="/download-detail">Eclipse</a></td></tr>
				<tr><td><a href="/download-detail">Visual Code</a></td></tr>
				<tr><td><a href="/download-detail">Phython</a></td></tr>
				<tr><td><a href="/download-detail">JDK</a></td></tr>
				<tr><td><a href="/download-detail">Dev C++</a></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>
			<tfoot>
		</table>
	</div>
	<div class="col">
		<table class="category">
			<thead>
			<tr>
				<th>Security</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Microsoft Defenders</a></td></tr>
				<tr><td><a href="/download-detail">Kaspersky Security Tool</a></td></tr>
				<tr><td><a href="/download-detail">Norton Security Tool</a></td></tr>
				<tr><td><a href="/download-detail">App Scanner</a></td></tr>
				<tr><td><a href="/download-detail">Comodo Security Tool</a></td></tr>
				<tr><td><a href="/download-detail">Adwords Cleaner</a></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>
			<tfoot>
		</table>
	</div>
	<div class="col">
		<table class="category">
			<thead>
			<tr>
				<th>Zip Tools</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Winzip</a></td></tr>
				<tr><td><a href="/download-detail">Winrar</a></td></tr>
				<tr><td><a href="/download-detail">7Zip</a></td></tr>
				<tr><td><a href="/download-detail">Gzip</a></td></tr>
				<tr><td><a href="/download-detail">Tar</a></td></tr>
				<tr><td></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>
			<tfoot>
		</table>
	</div>
	<div class="col">
		<table class="category">
			<thead>
			<tr>
				<th>Office</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Open Office</a></td></tr>
				<tr><td><a href="/download-detail">Libre Office</a></td></tr>
				<tr><td><a href="/download-detail">Microsoft Office Reader</a></td></tr>
				<tr><td><a href="/download-detail">Pdf Reader</a></td></tr>
				<tr><td><a href="/download-detail">Acrobat Reader</a></td></tr>
				<tr><td></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>
			<tfoot>
		</table>
	</div>
	<div class="col">
		<table class="category">
			<thead>
				<tr>
				<th>Games</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Chees</a></td></tr>
				<tr><td><a href="/download-detail">Rally</a></td></tr>
				<tr><td><a href="/download-detail">PointBall</a></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>
			<tfoot>
		</table>
	</div>
	<div class="col">
		<table class="category">
			<thead>
			<tr>
				<th>Text Tool</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Notepad++</a></td></tr>
				<tr><td><a href="/download-detail">Keep Note</a></td></tr>
				<tr><td><a href="/download-detail">Vim</a></td></tr>
				<tr><td><a href="/download-detail">Nano Text</a></td></tr>
				<tr><td><a href="/download-detail">Quick Note</a></td></tr>
				<tr><td></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>		
			</tfoot>
		</table>
	</div>
	<div class="col">
		<table class="category">
			<thead>
				<tr>
				<th>Development</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Ruby</a></td></tr>
				<tr><td><a href="/download-detail">Eclipse</a></td></tr>
				<tr><td><a href="/download-detail">Visual Code</a></td></tr>
				<tr><td><a href="/download-detail">Phython</a></td></tr>
				<tr><td><a href="/download-detail">JDK</a></td></tr>
				<tr><td><a href="/download-detail">Dev C++</a></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>
			<tfoot>
		</table>
	</div>
	<div class="col">
		<table class="category">
			<thead>
			<tr>
				<th>Security</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Microsoft Defenders</a></td></tr>
				<tr><td><a href="/download-detail">Kaspersky Security Tool</a></td></tr>
				<tr><td><a href="/download-detail">Norton Security Tool</a></td></tr>
				<tr><td><a href="/download-detail">App Scanner</a></td></tr>
				<tr><td><a href="/download-detail">Comodo Security Tool</a></td></tr>
				<tr><td><a href="/download-detail">Adwords Cleaner</a></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>
			<tfoot>
		</table>
	</div>
	<div class="col">
		<table class="category">
			<thead>
			<tr>
				<th>Zip Tools</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Winzip</a></td></tr>
				<tr><td><a href="/download-detail">Winrar</a></td></tr>
				<tr><td><a href="/download-detail">7Zip</a></td></tr>
				<tr><td><a href="/download-detail">Gzip</a></td></tr>
				<tr><td><a href="/download-detail">Tar</a></td></tr>
				<tr><td></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>
			<tfoot>
		</table>
	</div>
	<div class="col">
		<table class="category">
			<thead>
			<tr>
				<th>Office</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Open Office</a></td></tr>
				<tr><td><a href="/download-detail">Libre Office</a></td></tr>
				<tr><td><a href="/download-detail">Microsoft Office Reader</a></td></tr>
				<tr><td><a href="/download-detail">Pdf Reader</a></td></tr>
				<tr><td><a href="/download-detail">Acrobat Reader</a></td></tr>
				<tr><td></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>
			<tfoot>
		</table>
	</div>
	<div class="col">
		<table class="category">
			<thead>
				<tr>
				<th>Games</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Chees</a></td></tr>
				<tr><td><a href="/download-detail">Rally</a></td></tr>
				<tr><td><a href="/download-detail">PointBall</a></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>
			<tfoot>
		</table>
	</div>
	<div class="col">
		<table class="category">
			<thead>
			<tr>
				<th>Text Tool</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/download-detail">Notepad++</a></td></tr>
				<tr><td><a href="/download-detail">Keep Note</a></td></tr>
				<tr><td><a href="/download-detail">Vim</a></td></tr>
				<tr><td><a href="/download-detail">Nano Text</a></td></tr>
				<tr><td><a href="/download-detail">Quick Note</a></td></tr>
				<tr><td></td></tr>
			</tbody>
			<tfoot>
				<tr><th><a href="#">All</a></th></tr>		
			</tfoot>
		</table>
	</div>
</div>
