/*@import "fonts.css";*/
@import url("https://fonts.googleapis.com/css?family=Exo+2:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Oxygen:300,400,700&subset=latin-ext");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

strong {
  font-weight: 700; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  background-color: #1f3f56; }

body {
  font-family: "Exo 2";
  font-size: 15px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */ }
  body input, body textarea, body select {
    border: 1px solid #1f3f56;
    font-family: Oxygen;
    font-size: 1em;
    color: #1f3f56;
    padding: .3em; }
    body input:active, body input:focus, body textarea:active, body textarea:focus, body select:active, body select:focus {
      outline: none; }
  body select {
    overflow: hidden;
    background: transparent;
    padding: 0 .3em; }
  body .page-header {
    height: 5em;
    background-color: #1f3f56;
    display: flex;
    width: 100%; }
    body .page-header .logo {
      font-family: "Exo 2";
      margin-top: 18px;
      display: table; }
      body .page-header .logo .first {
        font-weight: 600;
        font-size: 30px;
        fill: #fff; }
      body .page-header .logo .second {
        font-weight: 500;
        font-size: 22px;
        fill: #bfd7e8; }
    @media screen and (min-width: 769px) {
      body .page-header .searchbox {
        display: inline-flex;
        border: 1px solid #2d5a7b;
        margin: 18px;
        width: 40%;
        padding: 0px;
        min-width: 3em; }
        body .page-header .searchbox input {
          padding: .5em 1em;
          border: none;
          width: 90%; }
        body .page-header .searchbox button {
          text-align: center;
          background-color: #bfd7e8;
          width: 10%;
          border: none;
          padding: .5em 1em;
          cursor: pointer;
          color: #1f3f56;
          min-width: 3em; } }
    @media screen and (max-width: 768px) {
      body .page-header .searchbox {
        display: inline-flex;
        border: 1px solid #2d5a7b;
        margin: 18px;
        width: 100%;
        padding: 0px;
        min-width: 13em; }
        body .page-header .searchbox input {
          padding: .5em 1em;
          border: none;
          width: 90%; }
        body .page-header .searchbox button {
          text-align: center;
          background-color: #bfd7e8;
          width: 10%;
          border: none;
          padding: .5em 1em;
          cursor: pointer;
          color: #1f3f56;
          min-width: 2.6em; } }
  @media screen and (max-width: 600px) {
    body .page-header {
      display: table; }
      body .page-header .logo {
        margin: auto; } }
  body .page-content {
    background-color: #f4f5f7;
    display: block;
    margin-bottom: 10em;
    margin: 0px;
    padding: 1em; }
    body .page-content .container {
      background: #fff;
      box-shadow: 0px 0px 6px -3px #1f3f56;
      padding: 2em; }
    body .page-content .advertisement {
      text-align: center;
      padding: 1em 0; }
    body .page-content table.app-details {
      content: ""; }
      body .page-content table.app-details thead tr th {
        font-size: 1.8em;
        font-weight: 500;
        padding: .4em 0em; }
      body .page-content table.app-details tbody tr {
        content: ""; }
        body .page-content table.app-details tbody tr th {
          font-weight: 500;
          padding: .3em;
          position: relative; }
          body .page-content table.app-details tbody tr th:after {
            content: ""; }
        body .page-content table.app-details tbody tr td {
          font-weight: 300;
          padding: .3em; }
          body .page-content table.app-details tbody tr td select {
            content: ""; }
            body .page-content table.app-details tbody tr td select option {
              content: ""; }
      body .page-content table.app-details tfoot {
        content: inherit; }
        body .page-content table.app-details tfoot tr td {
          text-align: center;
          padding: .3em; }
          body .page-content table.app-details tfoot tr td button {
            border: 1px solid #9abfda;
            width: 80%;
            padding: .8em;
            color: #2d5a7b;
            background-color: #bfd7e8;
            cursor: pointer;
            margin-top: 2em; }
            body .page-content table.app-details tfoot tr td button:before {
              content: " "; }
            body .page-content table.app-details tfoot tr td button:after {
              content: " "; }
            body .page-content table.app-details tfoot tr td button:hover {
              background-color: #accbe1; }
    body .page-content .app-description {
      padding: .3em;
      text-align: justify;
      position: relative;
      margin-top: 3em; }
      body .page-content .app-description p, body .page-content .app-description div, body .page-content .app-description h2, body .page-content .app-description h3, body .page-content .app-description h4, body .page-content .app-description h5, body .page-content .app-description h1 {
        margin: .5em 0; }
      body .page-content .app-description a {
        text-decoration: none; }
      body .page-content .app-description:before {
        content: "Description";
        position: absolute;
        top: -1em;
        font-size: 1.8em; }
    body .page-content table.category {
      width: 100%;
      min-width: 10em;
      border: 1px solid #1f3f56;
      margin-top: 1.5em; }
      body .page-content table.category thead {
        content: inherit; }
        body .page-content table.category thead tr th {
          padding: .3em;
          border-bottom: 1px solid #1f3f56;
          color: #fff;
          background-color: #1f3f56;
          font-weight: 600; }
      body .page-content table.category tfoot {
        content: inherit; }
        body .page-content table.category tfoot tr th {
          text-align: right;
          padding: .3em; }
          body .page-content table.category tfoot tr th a:before {
            content: " "; }
          body .page-content table.category tfoot tr th a:after {
            content: "..."; }
      body .page-content table.category tbody {
        border: 1px solid #1f3f56; }
        body .page-content table.category tbody tr {
          content: inherit; }
          body .page-content table.category tbody tr td {
            white-space: nowrap;
            cursor: pointer; }
            body .page-content table.category tbody tr td a {
              color: #2d5a7b;
              width: 100%;
              display: block;
              padding: .4em; }
              body .page-content table.category tbody tr td a:hover {
                text-decoration: none; }
            body .page-content table.category tbody tr td:hover {
              background-color: #74a8cd; }
              body .page-content table.category tbody tr td:hover a {
                color: #fff; }
            body .page-content table.category tbody tr td:empty {
              height: 1.8em; }
              body .page-content table.category tbody tr td:empty:hover {
                background-color: inherit; }
    body .page-content .download-information {
      margin: 1em 3em 6em;
      text-align: center; }
    body .page-content .loader {
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px); }
@keyframes loader {
  0% {
    left: -100px; }
  100% {
    left: 110%; } }
      body .page-content .loader .loader-box {
        width: 50px;
        height: 50px;
        background: #1f3f56;
        animation: animate .5s linear infinite;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px; }
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px; }
  25% {
    transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px; }
  75% {
    transform: translateY(9px) rotate(67.5deg); }
  100% {
    transform: translateY(0) rotate(90deg); } }
      body .page-content .loader .loader-shadow {
        width: 50px;
        height: 5px;
        background: #1f3f56;
        opacity: 0.1;
        position: absolute;
        top: 59px;
        left: 0;
        border-radius: 50%;
        animation: shadow .5s linear infinite; }
@keyframes shadow {
  50% {
    transform: scale(1.2, 1); } }
  body .page-footer {
    color: inherit; }
    body .page-footer .page-footer-text {
      color: #bfd7e8;
      text-align: center;
      border-top: 1px solid #bfd7e8;
      margin-top: 4em;
      padding-top: 1em; }

/*# sourceMappingURL=style.css.map */
